<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Goudy+Bookletter+1911" />
    <title>Message</title>
     <p hidden> Parava ilayea page source paakura alavuku thermaa irukaa ... ans inga ilayea and ddos attack proct um iruku</p>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 2rem; background: black; }
        #message { white-space: pre-wrap; color: white; font-family: "Goudy Old Style"}
    </style>
</head>
<body>
    <div id="message">
        <h1>Hi Chaaaaaaaru💜,</h1>
        <h3>I hope you're doing well... Nee itha full ah padipiyanu therla... anyways sola vandhadha solidrean ....</h3>
        <h3>I seen you've been ignoring me lately... even yen msgs and strys kuda pakuradhu ila... I got that, but I nvr did anything with bad intentions....</h3>
        <h3>naana la poi la yartaiyum peasa matean.... and seenzone la irunthathey unta than first time... irunthum txt panean... coz... yenaku una avolo pudikum... so than vekamea ilama txt panitu irunthean .... I even killed my feelings &amp; asked u to just be my friend... apadiyathu nee yen life la irunthira maatiya nu ... but still you left and stopped evrytng..... andha alavuku naa una hurt paniteana ????</h3>
        <h3>it literally hurts theriyuma dailyum peasuna nama fvrt person uproot ah cut panitu poradhu ...even you said la "we can be friends, I don't have any objection nu" ... irunthum yen nu therla nee Olunga peasala .... I'm not perfect than ... but yenaku second chance kuda kudukala... andha alavuku offend paniteana una... yedhu Apadi una offend panachu was it my care or sharing everything to you... or even texting you daily...???</h3>
        <h3>anyway now i realized that my mere presence itself is uncomfortable for you, una thola panama irukalam nu decide panitean.... varutham than.... but chaaru kaga &amp; also I don't want to be in anyone's life .... as that "ivan poi tholaiyavea matana" or that "pls reply pls reply" kinda person. so I'll no longer distrub you in any way...</h3>
        <h3>thank you for all the cute memories, cafe, walk, kulfi, and filter coffee addiction... yenaku stry thareanu sona but adha paadhilaiyea vituta ... anyways adhukum tnks....</h3>
        <h3>take care.... be safe.... over ah coffe kudichu udamba keduthukadha.... Naa order la podala just oru suggestion out of care.... and una yedhadhu way la hurt paniruntha... I'm extremely sry...</h3>
        <h3>sola vandhadha marantean.... I bought this Lil gift for you somewhat back when we told you searched and not found this.... una next time pakurapo kudukanum nu pathean... now there is no possibility for that.... so ipovea kuduthidrean... hope you like it.....</h3>
        <h3>p.s. I'm not emotionally manipulating or anything... I just said... what came to my mind... kavala padatha itha vachitu la thirupi... un life kula vara matean.. Naa msg pani or care pani tholaiyum pana matean... #this_is_for_new_me..... you'll always be my 💜..... thanks for giving me such wonderful memories.... (guntur karam la purse la vachu reminse panikira maari Naanum panitu irukean)</h3>
        <h3>I also went through that ngl... ngl la avungalea intha maari miss you, adhu ithu nu poduvanga pola.... peru ku padhila from team ngl nu varudhu naa adha pakama lusu maari unta vandhu keatutean...(<a href="https://www.threads.net/@your.buddy.bb/post/C6sLGknykNN?hl=en">Article</a>) manichooo...</h3>
        <br>
        <p>Thank you for completing the journey! This message will disappear in 10 minutes. Enjoy!</p>
        <p hidden> if you are seeing this, i want to tell you chaaru i like a lot, yen fate nenacha kadupa iruku ..
            unoda inum konja neram irunthirkalam ... missing you so much incase pesanum thonuna txt panu ...
            vekamea ilama naa reply paniduvean ... i know abt me...
            feb 20 i'm going to thrissur for a mrg... neeyum vandha nalla irukum... bathirama ktitu poitu varuvean...
        <p>
        <p hidden> but paravailla intha alavuku source la vandhu paakura ....  , made with love by hrithik</p>
    </div>
    <script>
        setTimeout(() => { window.close(); }, 600000); // Close the page after 10 minutes
    </script>
</body>
</html>
